html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper-page {
	min-height: 100%;
	background: #ddd url('../img/hexellence_bg.png') repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.list-hex {
	width: 630px;
	min-width: 630px;
	margin: 25px 0;
	font-size: 0px;
	flex-shrink: 1;
}

.hex {
	font-size: rem(16px);
	display: inline-block;
	vertical-align: middle;
	margin-top: 37px;
	margin-bottom: 37px;
	float: none;
	position: relative;
	z-index: 10;
	width: 190px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 100%;
	opacity: 1;

	& .inner {
		display: inline-block;
		vertical-align: middle;
		z-index: 20;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}

	& .inner-1,
	& .inner-2 {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -2;
		top: 0;
		left: 0;
		overflow: hidden;
		background: inherit;
		-webkit-backface-visibility: hidden;
	}

	& .inner-1 {
		z-index: -1;
		transform: rotate(60deg);
	}

	& .inner-2 {
		transform: rotate(-60deg);
	}

	& .after {
		transition: none 1s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 15;
		background: rgba(255,255,255,1);
		opacity: 1;
	}

	&.blue {
		& .after {
			background-color: $color-blue;
			border-color: $color-blue;
		}
	}

	&.orange {
		& .after {
			background-color: $color-orange;
			border-color: $color-orange;
		}
	}

	&.green {
		& .after {
			background-color: $color-green;
			border-color: $color-green;
		}
	}

	&.gray {
		& .after {
			background-color: $color-gray;
			border-color: $color-gray;
		}
	}

	&.brown {
		& .after {
			background-color: $color-brown;
			border-color: $color-brown;
		}
	}

	&.red {
		& .after {
			background-color: $color-red;
			border-color: $color-red;
		}
	}

	&__title {
		margin: 0 0 10px;
		padding: 0;
		font-size: rem(20px);
		text-transform: uppercase;
		font-weight: 700;
	}

	&__text {
		margin: 10px 0;
		font-size: rem(25px);
		color: $color-red;
	}

	&__label {
		display: block;
		cursor: pointer;
		margin: 5px 0;
	}
}

.hex-gap {
	margin-left: 115px;
}

.hex-control {
	& .inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90%;
		font-family: "PT Sans", sans-serif;
		font-weight: 300;
		text-transform: none;
		line-height: 1;
		text-align: center;
	}
}

.hex-info,
.hex-difficult {
	font-family: "PT Sans", sans-serif;
	font-weight: 300;
	height: 110px;
	margin: 60px 0;
	align-self: flex-start;

	& .inner {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		width: 100%;
		padding: 0 5px;
	}
}

.hex > a,
.hex > div {
	height: 110px;
	transition: none 1s;
	background-color: rgba(255,255,255,1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 220px;
	display: block;
	border: none;
	-webkit-backface-visibility: hidden;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.light {
	opacity: 0.7 !important;
}

.brand {
	font-size: rem(32px);
	color: $color-decor;
	margin: 0 0 15px;
	flex-basis: 100%;
}

.display {
	position: relative;
	text-align: center;
}

.count {
	font-family: 'VT323', monospace;
	color: $color-red;
	padding: 0px;
	font-size: rem(30px);
	width: 50px;
	background-color: rgba(0,0,0,1);
	position: relative;
	border: 2px solid $color-decor;
	border-radius: 5px;
	margin: 0 0 5px;
}

.btn-box {
	width: 50px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.round-btn {
	width: 15px;
	height: 15px;
	position: relative;
	background-color: $color-yellow;
	border-radius: 100%;
	border: 2px solid $color-decor;
	top: -1px;
}

.round-btn:active {
	box-shadow: 0 0 5px 1px $color-decor;
	top: 0;
}

.btn-start {
	background-color: $color-red;
}

.led {
	width: 6px;
	height: 6px;
	background-color: $color-decor;
	border-radius: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid $color-decor;
	top: -10px;
}

.led-on {
	background-color: $color-red;
}

.led-off {
	color: rgba(67, 7, 16, 1);
}

.label {
	color: $color-decor;
	font-size: rem(16px);
	margin: 0;
	text-align: center;
}

.switch-wrap {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.sw-slot {
	height: 20px;
	width: 40px;
	background-color: $color-decor;
	border-radius: 2px;
	cursor: pointer;
	margin: 0 5px;
}

.switch {
	height: 16px;
	width: 16px;
	border-radius: 4px;
	background-color: rgba(49, 147, 222, 1);
	position: relative;
	border: 2px solid $color-decor;
}

.sw-on {
	left: 20px;
}

.clickable {
	pointer-events: auto;
	cursor: pointer;
}

.unclickable {
	pointer-events: none;
}

.difficult {
	align-self: flex-start;
	border: 1px solid $color-decor;
	text-align: center;
}