$color-blue: rgba(99, 57, 214, 1);
$color-yellow: rgba(250, 255, 0, 1);
$color-orange: rgba(255, 153, 0, 1);
$color-green: rgba(48, 211, 27, 1);
$color-gray: rgba(102, 102, 102, 1);
$color-brown: rgba(101, 67, 32, 1);
$color-red: rgba(255, 0, 0, 1);

$color-decor: rgba(34,34,34,1);

$font-color_dark: rgba(0,0,0,1);
$font-color_light: rgba(255,255,255,1);

$fz: 16px;